body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.add-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  width: 50%;
  height: 70px;
}
.add-group input {
  width: 35%;
  height: 35px;
  border: none;
  border-radius: 8px;
}
.add-group button {
  background-color: white;
  width: 10%;
  height: 35px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
.weather-list {
  margin-top: 10%;
  width: 50%;
  background-color: black;
}
.weather {
  color: white;
}
